body {
  background: url("../media/SMWhauntedBCKGRND.jpeg");
  height: 90%;
}

.blank {
  display: flex;
  justify-content: flex-end;
}

.boo-parent {
  display: flex;
  flex-direction: column;
  animation: ghostFloat 2s ease-in-out infinite;
  height: 90%;
}

.cursor {
    z-index: 9999;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: url("../media/ActiveBooreverse.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: 300ms ease-out;
  }

  .cursor-right {
    z-index: 9999;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: url("../media/ActiveBoo.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: 300ms ease-out;
  }

  
  
  .cursorStop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 9999;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: url("../media/ShyBooreverse.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: 300ms ease-out;
  }

  .cursorStop-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 9999;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: url("../media/ShyBoo.png");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transition: 300ms ease-out;
  }
  
  @keyframes ghostFloat {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1rem);
    }
  }

.footer-parent {
  align-items: center;
  background-image: url(https://c.tenor.com/DiZ6wOY9jJwAAAAC/super-mario-world-boo.gif);
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  margin-top: 80%;
  justify-content: center;
  position: relative;
}

.footer {
    background-image: linear-gradient(180deg,#000,rgba(0,0,0,.806),rgba(255,0,0,0));
    color: #cccccc00;
    position: absolute;
    top: 0;
    width: 100%;
}

.copyright {
    background-image: radial-gradient(hsla(0,4%,82%,.568) 35%,transparent 92%,hsla(6,93%,71%,0) 0);
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 1.5rem;
    line-height: normal;
    text-align: center;
    text-shadow: 1px 2px rgba(0,0,0,.227);
    vertical-align: middle;
    width: 25vw;
}