@import "compass/css3";

html {
  background: #000;
}


body {height:2000px;}
.circle {
    width: 60px;
    height: 60px;
    position: fixed;
    top: -30px;
    left: -30px;
  transform: translateX(-30px) translateY(-30px);
    pointer-events: none;
    z-index: 9999;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.circle svg {
  width: 100%;
    position: fixed;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 600ms all cubic-bezier(.23,1,.32,1);
    transition: 600ms all cubic-bezier(.23,1,.32,1);
}

.circle svg path {
  width: 20px;
    height: 20px;
    fill: #fff;
    -webkit-transition: 600ms all cubic-bezier(.23,1,.32,1);
    transition: 600ms all cubic-bezier(.23,1,.32,1);
}